/* medium device */
@media screen and (max-width: 800px){
    .nav-container,
    .banner-container,
    .gamer-container,
    .play-instantly-container{
        flex-direction: column;
    }

    .nav-content{

        justify-content: center;
        margin-top: 50px;
    }
    
    .nav-items{
        justify-content: center;
        margin: 50px auto 0;
    }

    .banner-container{
        height: auto;
        flex-flow: column-reverse;
        align-items: normal;
        text-align: center;
    }

    .gamer-content{
        margin-top: 50px;
        justify-content: center;
        text-align: center;
    }

    .online-games-cards{
        flex-wrap: wrap;
    }

    .card{
        width: auto;
        height: auto;
    }


    
}



/* small device */
@media screen and (max-width: 500px){
    .nav-container,
    .nav-items,
    .banner-container,
    .gamer-container,
    .online-games-cards,
    .play-instantly-container{
        flex-direction: column;
    }

    .nav-content{
        margin: 0 auto;
    }

    .nav-items{
        margin-top: 20px;
        gap: 20px;
    }

    .banner-container{
        height: auto;
        flex-flow: column-reverse;

    }
    .banner-content{
        margin-top: 50px;
    }

    .gamer-content{
        margin-top: 50px;
        justify-content: center;
        text-align: center;

    }

    .gamer-content h4{
        font-size: 1rem;
    }

    .gamer-description{
        width: auto;

    }

    .online-games-container h2{
        font-size:1.5rem;
    }

    .online-games-container p{
        font-size:0.75rem;
    }

    .card{
        width: auto;
        height: auto;
    }

    .play-instantly-content {
        text-align: center;
        justify-content: center;
        margin: 0;
    }

    .play-instantly-content h2{
        font-size: 2rem;
    }

    .play-ins-img-one {
        width: 80%;
        margin-left: 70px;
    }

    .play-ins-img-two {
        bottom: -30px;
        left: 10px;
    }
}

