/* added font Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font work sans */
    font-family: 'Work Sans', sans-serif;
}


/* nav design starts here */
.nav-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    /* min-width: ; */
    display: flex;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-content img {
    width: 60px;
    height: 30px;
}

.nav-content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-title-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}

.nav-items-hover:hover{
    border: 1px solid #FF42A5;
    background-color: rgba(11, 2, 35, 0.10);
    color: #FF42A5;
    border-radius: 8px;
    padding: 5px;
}

.nav-items li {
    list-style: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.nav-icons {
    border: 2px solid rgb(128, 128, 128);
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 0;
}

.nav-icons img {
    width: 10%;
}

/* nav design ends here */

/* banner design starts here */
.banner {
    background-color: #FDF6FC;
}

.banner-container {
    max-width: 1200px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.banner-content {
    flex: 50%;
}

.banner-content h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    font-size: 1.10rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.banner-content img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.banner-btn-one {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.banner-btn-two {
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.banner-img {
    flex: 50%;
}

.banner-img img {
    width: 80%;
}

/* banner design ends here */

/* gamer design starts here */
.gamer-section {
    background-color: #FFF9FC;
}

.gamer-container {
    margin-bottom: 50px;
    padding: 50px;
    max-width: 1200px;
    /* height: 80vh; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
}

.gamer-img img {
    width: 90%;
    /* height: 50%; */
}

.gamer-content {
    text-align: right;
}

.gamer-content h3 {
    /* text-align: right; */
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.gamer-description {
    color: #534C64;
    width: 500px;
    /* text-align: right; */
    font-size: 0.80rem;
    margin-bottom: 20px;
}

.gamer-btn {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gamer-purpose {
    color: #534C64;
    /* text-align: right; */
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.gamer-content h4 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

/* gamer design ends here */

/* online games design starts here */
.online-games-container {
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
}

.online-games-content {
    text-align: center;
}

.online-games-container h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;

}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-container p {
    color: #534C64;
    font-size: 1rem;
    margin-bottom: 10px;
}

.online-games-cards {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 250px;
    height: 300px;
    padding: 5px;
    text-align: center;

}

.card img {
    width: 90%;
    margin: 0 auto;
}

.card p {
    color: #534C64;
    font-size: 0.80rem;
    font-weight: 500;
    text-align: center;
    margin-top: 7px;
}

/* online games design ends here */

/* play instantly design starts here */
.play-instantly-container {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;
    gap: 80px;
}

.play-instantly-content {
    text-align: right;
    flex: 40%;
    margin-right: 50px;
}

.play-instantly-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-instantly {
    /* text-align: right; */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-instantly-content p {
    color: #534C64;
    /* text-align: right; */
    font-size: 0.85rem;
}

.play-instantly-img {
    flex: 50%;
    position: relative;
}

.play-ins-img-one {
    width: 80%;
}

.play-ins-img-two {
    width: 40%;
    position: absolute;
    bottom: -40px;
    left: -90px;
}

/* play instantly design ends here */

/* play games design starts here */
.play-games-container {
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto 50px;
    display: flex;
    align-items: center;

}

.play-games-img {
    /* margin-left: 50px; */
    position: relative;
}

.play-games-img-one {
    width: 70%;
}

.play-games-img-two {
    width: 30%;
    position: absolute;
    right: 120px;
    bottom: -50px;
}

.play-games-content h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.play-games-online {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-games-content p {
    color: #534C64;
    font-size: 0.85rem;
}

/* play games design ends here */

/* careers design starts here */
.careers {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    ;
}

.careers-container {
    max-width: 1200px;
    height: 90vh;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.careers-content {
    flex: 50%;
}

.careers-content h3 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.careers-content p {
    color: #FFF;
    font-size: 0.90rem;
    margin-bottom: 10px;
}

.job-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.job-container li {
    list-style: none;
}

.job-category {
    color: #FFF;
    font-size: 0.90rem;
    font-weight: 500;
}

.country-category {
    color: #FFF;
    /* text-align: right; */
    font-size: 0.90rem;
    font-weight: 500;
}

.category-btn {
    padding: 10px 20px;
    border-radius: 48px;
    background: #FFF;
    font-size: 0.90rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF42A5;
    border: 0;
    margin-top: 20px;
}

.careers-img {
    flex: 50%;
}

.careers-img img {
    width: 100%;
    /* height: auto; */
}

/* careers design ends here */

/* game category design starts here */
.category-container {
    margin-bottom: 50px;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.category {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 10px;
    padding: 5px 8px;
}

/* hover style starts */

.category:hover {
    border-radius: 50px;
    border: 1px solid #FF42A5;
    cursor: pointer;
    padding: 5px 8px;

}

.category h4:hover {
    color: #FF42A5;
}

/* hover style ends */

.category img {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.category h4 {
    color: #0B0223;
    font-size: 0.90rem;
    font-weight: 600;
}

/* game category design ends here */

/* footer design starts here */
footer {
    background-color: #0B0223;
}

.footer-container {
    margin: 50px auto 0;
    max-width: 1200px;
    height: 80vh;
    padding: 50px;
    color: #FFF;

}


.footer-title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 200px;
    width: 50%;
    margin: 50px auto 50px;
    
}

.footer-title img {
    width: 50px;
    height: 30px;
}

.footer-title h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #FFF;
}

.footer-items {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.footer-items li {
    list-style: none;
}
.footer-icons{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 50px;
    cursor: pointer;
}

.footer-icons img {
    width: 30px;
    height: 40px;
}

.terms-condition {
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    font-size: 0.85rem;
    font-weight: 500;
    display: flex;
    gap: 60px;
    justify-content: center;
}

.terms-condition li {
    list-style: none;
}

.copyright-title p {
    color: rgba(255, 255, 255, 0.60);
    /* text-align: center; */
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
    margin: 20px;
}


/* footer design ends here */