/* added font Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font work sans */
    font-family: 'Work Sans', sans-serif;
}





/* nav design starts here */
.nav-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    /* min-width: ; */
    display: flex;
    justify-content: space-between;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-content img {
    width: 60px;
    height: 40px;
}

.nav-content h3 {
    font-size: 2rem;
    font-weight: 700;
    color: #0B0223;
}

.nav-title-g {
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    cursor: pointer;

}

.nav-items li {
    list-style: none;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;

}

.nav-icons {
    border: 2px solid gray;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 10px;
    padding: 10px;
    border: 0;
}

.nav-icons img {
    width: 8%;
}

/* nav design ends here */

/* banner design starts here */
.banner {
    background-color: #FDF6FC;
}

.banner-container {
    max-width: 1200px;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.banner-content {
    flex: 50%;
}

.banner-content h1 {
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-content p {
    color: #534C64;
    font-size: 1.10rem;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 10px;
}

.banner-content img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.banner-btn-one {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.banner-btn-two {
    padding: 10px 20px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
}

.banner-img {
    flex: 50%;
}

.banner-img img {
    width: 80%;
}

/* banner design ends here */

/* gamer design starts here */
.gamer-section {
    background-color: #FFF9FC;
}

.gamer-container {
    margin-bottom: 50px;
    padding: 50px;
    max-width: 1200px;
    /* height: 80vh; */
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
}

.gamer-img {}

.gamer-img img {
    width: 90%;
    /* height: 50%; */
}

.gamer-content {
    text-align: right;
}

.gamer-content h3 {
    /* text-align: right; */
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.gamer-description {
    color: #534C64;
    width: 500px;
    /* text-align: right; */
    font-size: 0.80rem;
    margin-bottom: 20px;
}

.gamer-btn {
    padding: 10px 20px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.gamer-purpose {
    color: #534C64;
    /* text-align: right; */
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.gamer-content h4 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
}

/* gamer design ends here */

/* online games design starts here */
.online-games-container {
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 10px;
}

.online-games-content {
    text-align: center;
}

.online-games-container h2 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    
}

.funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-container p {
    color: #534C64;
    font-size: 1rem;
    margin-bottom: 10px;
}

.online-games-cards {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card {
    width: 250px;
    height: 300px;
    padding: 5px;
    text-align: center;

}

.card img {
    width: 90%;
    margin: 0 auto;
}

.card p {
    color: #534C64;
    font-size: 0.80rem;
    font-weight: 500;
    text-align: center;
    margin-top: 7px;
}

/* online games design ends here */